<h1>Formulario de registro de clientes</h1>
<form [formGroup]="miFormulario" (ngSubmit)="submitForm()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" required>
    <div *ngIf="miFormulario.get('nombre')?.invalid && (miFormulario.get('nombre')?.dirty || miFormulario.get('nombre')?.touched)">
      <div *ngIf="miFormulario.get('nombre')?.errors?.['required']">El nombre es obligatorio</div>
    </div>
  </div>

  <div>
    <label for="fecha-nacimiento">Fecha de nacimiento:</label>
    <input type="date" id="fecha-nacimiento" formControlName="fechaNacimiento" required>
    <div *ngIf="miFormulario.get('fechaNacimiento')?.invalid && (miFormulario.get('fechaNacimiento')?.dirty || miFormulario.get('fechaNacimiento')?.touched)">
      <div *ngIf="miFormulario.get('fechaNacimiento')?.errors?.['required']">La fecha de nacimiento es obligatoria</div>
    </div>
  </div>

  <div>
    <label for="correo">Email:</label>
    <input type="email" id="correo" formControlName="correo" required>
    <div *ngIf="miFormulario.get('correo')?.invalid && (miFormulario.get('correo')?.dirty || miFormulario.get('correo')?.touched)">
      <div *ngIf="miFormulario.get('correo')?.errors?.['required']">El email es obligatorio</div>
      <div *ngIf="miFormulario.get('correo')?.errors?.['correo']">El email no es válido</div>
    </div>
  </div>

  <div>
    <label for="otra-seleccion">Otra selección:</label>
    <select id="otra-seleccion" formControlName="otraSeleccion" required>
      <option value=""></option>
      <option value="opcion1">Opción 1</option>
      <option value="opcion2">Opción 2</option>
      <option value="opcion3">Opción 3</option>
    </select>
    <div *ngIf="miFormulario.get('otraSeleccion')?.invalid && (miFormulario.get('otraSeleccion')?.dirty || miFormulario.get('otraSeleccion')?.touched)">
      <div *ngIf="miFormulario.get('otraSeleccion')?.errors?.['required']">Debes seleccionar una opción</div>
    </div>
  </div>

  <div>
    <input type="checkbox" id="checkbox" formControlName="checkbox" required>
    <label for="checkbox">Acepto los términos y condiciones</label>
    <div *ngIf="miFormulario.get('checkbox')?.invalid && (miFormulario.get('checkbox')?.dirty || miFormulario.get('checkbox')?.touched)">
      <div *ngIf="miFormulario.get('checkbox')?.errors?.['required']">Debes aceptar los términos y condiciones</div>
    </div>
  </div>

  <button type="submit" [disabled]="miFormulario.invalid">Enviar</button>
</form>
